{% autoescape off %}
<div style="background-color: #722FF9;">
    <div style="background-color: white; width: 75%; margin: 0 auto;
         padding: 20px 30px; text-align: center; text-wrap: pretty;">
        <h1 style="color: black; font-weight: 900;
         font-size: 3rem; text-align: center; padding: 30px 20px;
         font-family: sans-serif;">
            Edu<span style="color: #722FF9;">Hub</span>
        </h1>
        <h2 style="text-decoration: none; text-align: center;">Hi {{user}}</h2>
        <p style="color: black; font-size: 17px;">
            Please click on the button below to confirm your registration and active your account
        </p>
        <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}" style="background-color: #722FF9;
             color: white; font-size: 1.5rem; padding: 9px ; 
             text-align: center; display:block; width: 30%; 
             margin: 15px auto; text-decoration: none;
              margin-bottom: 20px; border-radius: 4px;">
            Activate
        </a>
    </div>
</div>

{% endautoescape %}