{% load static %}


<header class="header">
    <nav class="header-nav border-b">
        <!-- CONTAINER MENU MOVIL -->
        <div class="container-menu-movil">
            <!-- drawer init and toggle -->
            <div class="text-center">
                <button class="text-white bg-[#722FF9] hover:bg-[#672be0] font-medium rounded-lg text-sm px-1.5 py-1"
                    type="button" data-drawer-target="drawer-body-scrolling" data-drawer-show="drawer-body-scrolling"
                    data-drawer-body-scrolling="true" aria-controls="drawer-body-scrolling">
                    <img src="{% static 'icons/menu.svg' %}" alt="Menu">
                </button>
            </div>

            <!-- drawer component -->
            <div id="drawer-body-scrolling"
                class="fixed border-r top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-64 dark:bg-gray-800"
                tabindex="-1" aria-labelledby="drawer-body-scrolling-label">
                <h5 id="drawer-body-scrolling-label"
                    class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
                <button type="button" data-drawer-hide="drawer-body-scrolling" aria-controls="drawer-body-scrolling"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close menu</span>
                </button>
                <div class="py-4 overflow-y-auto">
                    <ul class="space-y-2 font-medium">

                        <li>
                            <button type="button"
                                class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                                aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 18 21">
                                    <path
                                        d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                                </svg>
                                <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">E-commerce</span>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>
                            <ul id="dropdown-example" class="hidden py-2 space-y-2">
                                <li>
                                    <a href="#"
                                        class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 18 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                                </svg>
                                <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container-header-logo mr-3">
            <a href="{% url 'home' %}" class="header-logo">Edu<span>Hub</span></a>

            <!-- CONTAINER DROPDOWN CATEGORIES DESK -->
            <div class="container-categories relative">
                <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown"
                    class="text-slate-700 hover:text-[#722FF9]  font-medium rounded-lg text-sm  text-center inline-flex items-center"
                    type="button">Categories<svg class="w-2.5 h-2.5 ms-3" aria-hidden="false"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="multi-dropdown"
                    class="z-10 hidden categories-subcategories bg-white divide-y divide-gray-100  shadow w-52">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="multiLevelDropdownButton">
                        {% for category, subcategories in subcategories.items %}
                        <li>
                            <button id="doubleDropdownButton{{category.title}}"
                                data-dropdown-toggle="doubleDropdown{{category.title}}"
                                data-dropdown-placement="right-start" type="button" class="flex items-center justify-between w-full px-4 py-2 hover:text-[#722FF9]
                                 hover:bg-[#fcfaff] dark:hover:bg-gray-600 dark:hover:text-white">
                                {{category.title}}
                                <svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                            </button>
                            <div id="doubleDropdown{{category.title}}"
                                class="z-10 hidden bg-white divide-y divide-gray-100 shadow w-52 dark:bg-gray-700">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="doubleDropdownButton">
                                    {% for subcategory in subcategories %}
                                    <li>
                                        <a href="{{subcategory.get_subcategory_url}}"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{subcategory.title}}</a>   
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </li>
                        {% endfor %}


                    </ul>
                </div>
            </div>
        </div>


        <!-- SEARCH DESK -->
        <form method="GET" role="search" class="w-1/2">
            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search"
                    class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-[#7C3AED] focus:border-[#7C3AED] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#7C3AED] dark:focus:border-[#7C3AED]"
                    placeholder="Search" required autocomplete="off">
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-1.5 bg-[#7C3AED] hover:bg-[#672be0] font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
        </form>


        <!-- CART, USER , REGISTRATE AND LOGIN -->
        <div class="container-cart-account ml-3">

            <a href="#" class="font-medium rounded-lg text-sm hover:text-[#7C3AED] text-nowrap">Tech on EduHub</a>

            <a href="#">
                <button type="button"
                    class="relative inline-flex items-center px-1 py-2 text-sm font-medium text-cente">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6  stroke-black fill-white hover:stroke-[#7C3AED]">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                    <div class="absolute inline-flex items-center 
                        justify-center w-5 h-5 text-xs font-bold text-white bg-[#7C3AED] 
                         rounded-full -top-1.5 -end-2 ">
                        0
                    </div>
                </button>
            </a>


            {% if user.is_authenticated %}
            <div class="container-drop-user-profile">
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button">
                    <img src="{{user.image.url}}" alt="User-profile" class="w-11 h-11">
                </button>

                <!-- Dropdown menu -->
                <div id="dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        <p class="name-profile">{{user.get_full_name}}</p>
                        <div class="font-medium truncate">{{user.email}}</div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li>
                    </ul>
                    <div class="py-1">
                        <a href="{% url 'logout' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                            out</a>
                    </div>
                </div>

            </div>
            {% else %}
            <a href="{% url 'signup' %}" class="create-login">
                Hello! Sign up </br>
                <span>Sign in</span>
            </a>
            {% endif %}
        </div>



    </nav>
</header>